body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkslategray;
    color: white;
    padding-left: 105px;
    padding-right: 105px;
    font-family: 'Montserrat Alternates', sans-serif;
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

h3, h4 {
    color: darkslategray;
    font-family: 'Montserrat Alternates', sans-serif;
}

h4 {
    margin-bottom: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.block {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    width: 100%;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

.right-column {
    text-align: right;
}

#outstandingLoanTr {
    visibility: hidden;
}

button {
    padding: 10px;
    flex-grow: 1;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#work {
    background-color: steelblue;
    color: white;
}

#work:hover {
    background-color: rgb(33, 88, 133);
}

#work:active {
    background-color: whitesmoke;
    color: rgb(33, 88, 133);
}

#bank {
    background-color: goldenrod;
    color: white;
}

#bank:hover {
    background-color: darkgoldenrod;
}

#bank:active {
    background-color: whitesmoke;
    color: darkgoldenrod;
}

#bank:disabled {
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    cursor: not-allowed;
}

#getLoan {
    background-color: seagreen;
    color: white;
}

#getLoan:hover {
    background-color: rgb(19, 97, 53);
}

#getLoan:active {
    background-color: whitesmoke;
    color: rgb(19, 97, 53);
}

#getLoan:disabled {
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    cursor: not-allowed;
}

#repayLoan {
    background-color: indianred;
    color: white;
    visibility: hidden;
}

#repayLoan:hover {
    background-color: rgb(105, 17, 17);
}

#repayLoan:active {
    background-color: whitesmoke;
    color: rgb(105, 17, 17);
}

#repayLoan:disabled {
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    cursor: not-allowed;
}

select {
    width: 100%;
    font-size: 16px;
    padding: 1px;
    border: 1px solid darkslategray;
    border-radius: 5px;
    outline: none;
}

#features {
    font-size: 14px;
    list-style-type: none;
}