body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkslategray;
    color: white;
    padding-left: 105px;
    padding-right: 105px;
    font-family: 'Montserrat Alternates', sans-serif;
}

main {
    padding-left: 100px;
    padding-right: 100px;
}

h2, h3, h4 {
    color: darkslategray;
    font-family: 'Montserrat Alternates', sans-serif;
}

h4 {
    margin-bottom: 5px;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    flex-grow: 1;
    margin: 1px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 1px;
    border: 1px solid darkslategray;
    border-radius: 5px;
    outline: none;
    font-size: medium;
}

img {
    height: 150px;
    border-radius: 5px;
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.block {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    width: 100%;
}

.right-column {
    text-align: right;
}

#outstandingLoanTr {
    visibility: hidden;
}

#featuresDiv {
    font-size: 14px;
    list-style-type: none;
}

#laptopInfoDiv {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

#laptopPriceDiv {
    color: darkslategray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#cannotAffordMessageDiv {
    color: darkred;
    height: 55px;
    padding-top: 5px;
    text-align: center;
    visibility: hidden;
}

#workButton {
    background-color: steelblue;
    color: white;
}

#workButton:hover {
    background-color: rgb(33, 88, 133);
}

#workButton:active {
    background-color: whitesmoke;
    color: rgb(33, 88, 133);
}

#bankButton {
    background-color: goldenrod;
    color: white;
}

#bankButton:hover {
    background-color: darkgoldenrod;
}

#bankButton:active {
    background-color: whitesmoke;
    color: darkgoldenrod;
}

#getLoanButton {
    background-color: seagreen;
    color: white;
}

#getLoanButton:hover {
    background-color: rgb(19, 97, 53);
}

#getLoanButton:active {
    background-color: whitesmoke;
    color: rgb(19, 97, 53);
}

#repayLoanButton {
    background-color: indianred;
    color: white;
    visibility: hidden;
}

#repayLoanButton:hover {
    background-color: rgb(105, 17, 17);
}

#repayLoanButton:active {
    background-color: whitesmoke;
    color: rgb(105, 17, 17);
}

#buyNowButton {
    background-color: darkmagenta;
    color: white;
}

#buyNowButton:hover {
    background-color: rgb(77, 1, 77);
}

#buyNowButton:active {
    background-color: whitesmoke;
    color: rgb(77, 1, 77);
}

#bankButton:disabled, #getLoanButton:disabled, #repayLoanButton:disabled, #buyNowButton:disabled {
    background-color: rgb(128, 128, 128);
    color: whitesmoke;
    cursor: not-allowed;
}